<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.credit.flow.domain.SpFlowApplyRuleMapper">
    <resultMap id="BaseResultMap" type="com.zdmoney.credit.flow.domain.SpFlowApplyRule">
        <id column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="FLOW_ID" property="flowId" jdbcType="DECIMAL"/>
        <result column="CONDITION_ID" property="conditionId" jdbcType="DECIMAL"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, FLOW_ID, CONDITION_ID, CREATE_TIME, UPDATE_TIME
  </sql>
    <delete id="delete" parameterType="java.math.BigDecimal">
    delete from SP_FLOW_APPLY_RULE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
    <insert id="insert" parameterType="com.zdmoney.credit.flow.domain.SpFlowApplyRule">
        insert into SP_FLOW_APPLY_RULE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="flowId != null">
                FLOW_ID,
            </if>
            <if test="conditionId != null">
                CONDITION_ID,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="flowId != null">
                #{flowId,jdbcType=DECIMAL},
            </if>
            <if test="conditionId != null">
                #{conditionId,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.zdmoney.credit.flow.domain.SpFlowApplyRule">
        update SP_FLOW_APPLY_RULE
        <set>
            <if test="flowId != null">
                FLOW_ID = #{flowId,jdbcType=DECIMAL},
            </if>
            <if test="conditionId != null">
                CONDITION_ID = #{conditionId,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>

    <select id="queryFlowIdByCondition" parameterType="java.util.Map" resultType="java.lang.Long">
       select t2.flowId
       from (select t1.flow_id as flowId,
                listagg(t1.condition_id, '-') within group(order by t1.condition_id) as condition
             from sp_flow_apply_rule t1
             group by t1.flow_id) t2
       where t2.condition = #{condition}
  </select>
</mapper>