<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.credit.flow.domain.SpNodeRoleMapper" >
  <resultMap id="BaseResultMap" type="com.zdmoney.credit.flow.domain.SpNodeRole" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NODE_ID" property="nodeId" jdbcType="DECIMAL" />
    <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="UPDATOR" property="updator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NODE_ID, ROLE_ID, STATUS, CREATE_TIME, UPDATE_TIME, CREATOR, UPDATOR
  </sql>
  <select id="get" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SP_NODE_ROLE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="delete" parameterType="java.math.BigDecimal" >
    delete from SP_NODE_ROLE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insertSelective" parameterType="com.zdmoney.credit.flow.domain.SpNodeRole" >
    insert into SP_NODE_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="nodeId != null" >
        NODE_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="updator != null" >
        UPDATOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdmoney.credit.flow.domain.SpNodeRole" >
    update SP_NODE_ROLE
    <set >
      <if test="nodeId != null" >
        NODE_ID = #{nodeId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        UPDATOR = #{updator,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <sql id="findListByMapConditions">
    <trim prefix="where" prefixOverrides="and">
      <if test="nodeId != null">
        and node_id = #{nodeId}
      </if>
      <if test="roleId != null">
        and role_id = #{roleId}
      </if>
      <if test="status != null and status != ''">
        and status = #{status}
      </if>
    </trim>
  </sql>
  <sql id="findListByMapOrderBy">
    ORDER BY ID ASC
  </sql>
  <select id="findListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM sp_node_role
    <include refid="findListByMapConditions"/>
    <include refid="findListByMapOrderBy"/>
  </select>
</mapper>