<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.credit.operation.domain.BasePublicAccountInfoWmMapper" >
  <resultMap id="BaseResultMap" type="com.zdmoney.credit.operation.domain.BasePublicAccountInfoWm" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="LOAN_ID" property="loanId" jdbcType="DECIMAL" />
    <result column="TRADE_DATE" property="tradeDate" jdbcType="TIMESTAMP" />
    <result column="TRADE_TIME" property="tradeTime" jdbcType="VARCHAR" />
    <result column="TRADE_AMOUNT" property="tradeAmount" jdbcType="DECIMAL" />
    <result column="SECOND_ACCOUNT" property="secondAccount" jdbcType="VARCHAR" />
    <result column="SECOND_NAME" property="secondName" jdbcType="VARCHAR" />
    <result column="TRADE_BANK" property="tradeBank" jdbcType="VARCHAR" />
    <result column="TRADE_TYPE" property="tradeType" jdbcType="VARCHAR" />
    <result column="TRADE_CHANNEL" property="tradeChannel" jdbcType="VARCHAR" />
    <result column="TRADE_PURPOSE" property="tradePurpose" jdbcType="VARCHAR" />
    <result column="TRADE_DESC" property="tradeDesc" jdbcType="VARCHAR" />
    <result column="TRADE_REMARK" property="tradeRemark" jdbcType="VARCHAR" />
    <result column="OPERATOR_ID" property="operatorId" jdbcType="DECIMAL" />
    <result column="REC_OPERATOR_ID" property="recOperatorId" jdbcType="DECIMAL" />
    <result column="REC_TIME" property="recTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATOR" property="updator" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="BREATH_DATE" property="breathDate" jdbcType="TIMESTAMP" />
    <result column="SERIAL_NUMBER" property="serialNumber" jdbcType="VARCHAR" />
    <result column="REPAY_NO" property="repayNo" jdbcType="VARCHAR" />
    <result column="LOAN_BELONG" property="loanBelong" jdbcType="VARCHAR" />
    <result column="LOCK_STATUS" property="lockStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, LOAN_ID, TRADE_DATE, TRADE_TIME, TRADE_AMOUNT, SECOND_ACCOUNT, SECOND_NAME, TRADE_BANK, 
    TRADE_TYPE, TRADE_CHANNEL, TRADE_PURPOSE, TRADE_DESC, TRADE_REMARK, OPERATOR_ID, 
    REC_OPERATOR_ID, REC_TIME, STATUS, MEMO, CREATOR, CREATE_TIME, UPDATOR, UPDATE_TIME, 
    BREATH_DATE, SERIAL_NUMBER,REPAY_NO,LOAN_BELONG,LOCK_STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from BASE_PUBLIC_ACCOUNT_INFO_WM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from BASE_PUBLIC_ACCOUNT_INFO_WM
    where ID = #{id,jdbcType=DECIMAL}
  </delete>

  <insert id="insert" parameterType="com.zdmoney.credit.operation.domain.BasePublicAccountInfoWm" >
    insert into BASE_PUBLIC_ACCOUNT_INFO_WM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="loanId != null" >
        LOAN_ID,
      </if>
      <if test="tradeDate != null" >
        TRADE_DATE,
      </if>
      <if test="tradeTime != null" >
        TRADE_TIME,
      </if>
      <if test="tradeAmount != null" >
        TRADE_AMOUNT,
      </if>
      <if test="secondAccount != null" >
        SECOND_ACCOUNT,
      </if>
      <if test="secondName != null" >
        SECOND_NAME,
      </if>
      <if test="tradeBank != null" >
        TRADE_BANK,
      </if>
      <if test="tradeType != null" >
        TRADE_TYPE,
      </if>
      <if test="tradeChannel != null" >
        TRADE_CHANNEL,
      </if>
      <if test="tradePurpose != null" >
        TRADE_PURPOSE,
      </if>
      <if test="tradeDesc != null" >
        TRADE_DESC,
      </if>
      <if test="tradeRemark != null" >
        TRADE_REMARK,
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID,
      </if>
      <if test="recOperatorId != null" >
        REC_OPERATOR_ID,
      </if>
      <if test="recTime != null" >
        REC_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updator != null" >
        UPDATOR,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="breathDate != null" >
        BREATH_DATE,
      </if>
      <if test="serialNumber != null" >
        SERIAL_NUMBER,
      </if>
      <if test="repayNo != null" >
        REPAY_NO,
      </if>
      <if test="loanBelong != null" >
        LOAN_BELONG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="loanId != null" >
        #{loanId,jdbcType=DECIMAL},
      </if>
      <if test="tradeDate != null" >
        #{tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeTime != null" >
        #{tradeTime,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmount != null" >
        #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="secondAccount != null" >
        #{secondAccount,jdbcType=VARCHAR},
      </if>
      <if test="secondName != null" >
        #{secondName,jdbcType=VARCHAR},
      </if>
      <if test="tradeBank != null" >
        #{tradeBank,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="tradeChannel != null" >
        #{tradeChannel,jdbcType=VARCHAR},
      </if>
      <if test="tradePurpose != null" >
        #{tradePurpose,jdbcType=VARCHAR},
      </if>
      <if test="tradeDesc != null" >
        #{tradeDesc,jdbcType=VARCHAR},
      </if>
      <if test="tradeRemark != null" >
        #{tradeRemark,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=DECIMAL},
      </if>
      <if test="recOperatorId != null" >
        #{recOperatorId,jdbcType=DECIMAL},
      </if>
      <if test="recTime != null" >
        #{recTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="breathDate != null" >
        #{breathDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="repayNo != null" >
        #{repayNo,jdbcType=VARCHAR},
      </if>
      <if test="loanBelong != null" >
        #{loanBelong,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.zdmoney.credit.operation.domain.BasePublicAccountInfoWm" >
    update BASE_PUBLIC_ACCOUNT_INFO_WM
    <set >
      <if test="loanId != null" >
        LOAN_ID = #{loanId,jdbcType=DECIMAL},
      </if>
      <if test="tradeDate != null" >
        TRADE_DATE = #{tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeTime != null" >
        TRADE_TIME = #{tradeTime,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmount != null" >
        TRADE_AMOUNT = #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="secondAccount != null" >
        SECOND_ACCOUNT = #{secondAccount,jdbcType=VARCHAR},
      </if>
      <if test="secondName != null" >
        SECOND_NAME = #{secondName,jdbcType=VARCHAR},
      </if>
      <if test="tradeBank != null" >
        TRADE_BANK = #{tradeBank,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        TRADE_TYPE = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="tradeChannel != null" >
        TRADE_CHANNEL = #{tradeChannel,jdbcType=VARCHAR},
      </if>
      <if test="tradePurpose != null" >
        TRADE_PURPOSE = #{tradePurpose,jdbcType=VARCHAR},
      </if>
      <if test="tradeDesc != null" >
        TRADE_DESC = #{tradeDesc,jdbcType=VARCHAR},
      </if>
      <if test="tradeRemark != null" >
        TRADE_REMARK = #{tradeRemark,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID = #{operatorId,jdbcType=DECIMAL},
      </if>
      <if test="recOperatorId != null" >
        REC_OPERATOR_ID = #{recOperatorId,jdbcType=DECIMAL},
      </if>
      <if test="recTime != null" >
        REC_TIME = #{recTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        UPDATOR = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="breathDate != null" >
        BREATH_DATE = #{breathDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serialNumber != null" >
        SERIAL_NUMBER = #{serialNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdmoney.credit.operation.domain.BasePublicAccountInfoWm" >
    update BASE_PUBLIC_ACCOUNT_INFO_WM
    set LOAN_ID = #{loanId,jdbcType=DECIMAL},
      TRADE_DATE = #{tradeDate,jdbcType=TIMESTAMP},
      TRADE_TIME = #{tradeTime,jdbcType=VARCHAR},
      TRADE_AMOUNT = #{tradeAmount,jdbcType=DECIMAL},
      SECOND_ACCOUNT = #{secondAccount,jdbcType=VARCHAR},
      SECOND_NAME = #{secondName,jdbcType=VARCHAR},
      TRADE_BANK = #{tradeBank,jdbcType=VARCHAR},
      TRADE_TYPE = #{tradeType,jdbcType=VARCHAR},
      TRADE_CHANNEL = #{tradeChannel,jdbcType=VARCHAR},
      TRADE_PURPOSE = #{tradePurpose,jdbcType=VARCHAR},
      TRADE_DESC = #{tradeDesc,jdbcType=VARCHAR},
      TRADE_REMARK = #{tradeRemark,jdbcType=VARCHAR},
      OPERATOR_ID = #{operatorId,jdbcType=DECIMAL},
      REC_OPERATOR_ID = #{recOperatorId,jdbcType=DECIMAL},
      REC_TIME = #{recTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATOR = #{updator,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      BREATH_DATE = #{breathDate,jdbcType=TIMESTAMP},
      SERIAL_NUMBER = #{serialNumber,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <!-- 分页查询 -->
  <select id="findWithPG" parameterType="com.zdmoney.credit.operation.domain.BasePublicAccountInfoWm" resultMap="BaseResultMap">
      <include refid="com.ezendai.credit2.mapper.BaseMapper.pagerStart" />
      <include refid="findListByConditions" />
      <include refid="com.ezendai.credit2.mapper.BaseMapper.OrderBy" />
      <include refid="com.ezendai.credit2.mapper.BaseMapper.pagerEnd" />
  </select>
  
  <!-- 按查询条件查询表中多条记录的公用SQL -->
  <sql id="findListByConditions">
    <include refid="basePrivateAccountInfoSelective" />
    <include refid="basePrivateAccountInfoConditions" />
    <include refid="orderConditions" />
  </sql>
  
  <!-- 查询主体 -->
  <sql id="basePrivateAccountInfoSelective">
    SELECT 
        <include refid = "Base_Column_List"/>
      FROM BASE_PUBLIC_ACCOUNT_INFO_WM
  </sql>
  
   <!-- 查询条件 -->
  <sql id="basePrivateAccountInfoConditions">
     <trim prefix="where" prefixOverrides="and">
         <if test="loanId != null and loanId !=''">
             AND LOAN_ID= #{loanId}
         </if>
         <if test="tradeDate != null">
             AND TRADE_DATE = #{tradeDate}
         </if>
         <if test="tradeTime != null">
             AND TRADE_TIME = #{tradeTime}
         </if>
         <if test="tradeDateStart != null">
             AND TRADE_DATE >= #{tradeDateStart}
         </if>
         <if test="tradeDateEnd != null">
             AND TRADE_DATE &lt; #{tradeDateEnd} + 1
         </if>
         <if test="recTimeStart != null">
             AND REC_TIME >= #{recTimeStart}
         </if>
         <if test="recTimeEnd != null">
             AND REC_TIME &lt; #{recTimeEnd} + 1
         </if>
         <if test="recOperatorId != null and recOperatorId != ''">
             AND REC_OPERATOR_ID = #{recOperatorId}
         </if>
         <if test="recUsercode != null and recUsercode != ''">
             AND REC_OPERATOR_ID = (SELECT E.ID FROM COM_EMPLOYEE E WHERE E.USERCODE = #{recUsercode} AND ROWNUM = 1)
         </if>
         <if test="secondName != null and secondName != ''">
             AND SECOND_NAME = #{secondName}
         </if>
         <if test="tradeAmount != null and tradeAmount != ''">
             AND TRADE_AMOUNT = #{tradeAmount}
         </if>
         <if test="status != null and status != ''">
             AND STATUS = #{status}
         </if>
         <if test="tradeType != null and tradeType != ''">
             AND TRADE_TYPE = #{tradeType}
         </if>
         <if test="tradeChannel != null and tradeChannel != ''">
             AND TRADE_CHANNEL = #{tradeChannel}
         </if>
         <if test="repayNo != null and repayNo != ''">
             AND REPAY_NO = #{repayNo}
         </if>
         <if test="loanBelong != null and loanBelong != ''">
             AND LOAN_BELONG = #{loanBelong}
         </if>
         <if test="serialNumber != null and serialNumber != ''">
             AND SERIAL_NUMBER = #{serialNumber}
         </if>
       <if test="memo != null and memo != ''">
         AND MEMO = #{memo}
       </if>
         <if test="lockStatus != null and lockStatus != ''">
           AND LOCK_STATUS = #{lockStatus}
         </if>
     </trim>
  </sql>
  <!-- 排序条件 -->
  <sql id="orderConditions">
    ORDER BY TRADE_DATE DESC, TRADE_TIME DESC, TRADE_AMOUNT ASC
  </sql>
   <!-- 按查询条件查询表中多条记录 -->
  <select id="findListByVO" parameterType="com.zdmoney.credit.operation.domain.BasePublicAccountInfoWm" resultMap="BaseResultMap">
    <include refid="findListByConditions" />
  </select>
   <!-- 查询总件数 -->
  <select id="count" parameterType="com.zdmoney.credit.operation.domain.BasePublicAccountInfoWm" resultType="java.lang.Integer">
      SELECT COUNT(*) FROM (<include refid="findListByConditions" />)
  </select>
  <!-- 已认领结果 -->
  <resultMap id="RecResultMap" type="java.util.Map" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="IDNUM" property="idNum" jdbcType="VARCHAR" />
    <result column="LOAN_TYPE" property="loanType" jdbcType="VARCHAR" />
    <result column="FIRST_REPAYMENT_DATE" property="firstRepaymentDate" jdbcType="VARCHAR" />
    <result column="TRADE_AMOUNT" property="tradeAmount" jdbcType="DECIMAL" />
    <result column="TRADE_TYPE" property="tradeType" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="CONTRACT_NUM" property="contractNum" jdbcType="VARCHAR" />
    <result column="REPAY_NO" property="repayNo" jdbcType="VARCHAR" />
    <result column="TRADE_REMARK" property="tradeRemark" jdbcType="VARCHAR" />
    <result column="FUNDS_SOURCES" property="fundsSources" jdbcType="VARCHAR" />
    <result column="LOAN_BELONG" property="loanBelong" jdbcType="VARCHAR" />
    <result column="channelSources" property="channelSources" jdbcType="VARCHAR" />
  </resultMap>
   <!-- 被认领客户贷款信息  -->
  <resultMap id="RecLoanResultMap" type="java.util.Map" >
    <result column="LOAN_ID" property="loanId" jdbcType="DECIMAL" />
    <result column="BORROWER_ID" property="borrowerId" jdbcType="DECIMAL" />
    <result column="BORROWER_NAME" property="borrowerName" jdbcType="VARCHAR" />
    <result column="LOAN_TYPE" property="loanType" jdbcType="VARCHAR" />
    <result column="SALESMAN_ID" property="salesmanId" jdbcType="DECIMAL" />
    <result column="SALESMAN_NAME" property="salesmanName" jdbcType="VARCHAR" />
    <result column="CRM_ID" property="crmId" jdbcType="DECIMAL" />
    <result column="CRM_NAME" property="crmName" jdbcType="VARCHAR" />
    <result column="IDNUM" property="idNum" jdbcType="VARCHAR" />
    <result column="PROFESSION" property="profession" jdbcType="VARCHAR" />
    <result column="PURPOSE" property="purpose" jdbcType="VARCHAR" />
    <result column="PACT_MONEY" property="pactMoney" jdbcType="DECIMAL" />
    <result column="MONEY" property="money" jdbcType="DECIMAL" />
    <result column="TIME" property="time" jdbcType="DECIMAL" />
    <result column="LOAN_STATE" property="loanState" jdbcType="VARCHAR" />
    <result column="CONTRACT_NUM" property="contractNum" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 查询对私还款已认领结果 -->
  <select id="findPublicAccountReceiveWMInfo" parameterType="com.zdmoney.credit.operation.domain.BasePublicAccountInfoWm" resultMap="RecResultMap">
    SELECT T1.ID,
           T3.NAME,
           T3.IDNUM,
           T2.LOAN_TYPE,
           TO_CHAR(T2.STARTRDATE, 'yyyy-MM-dd') AS FIRST_REPAYMENT_DATE,
           T1.TRADE_AMOUNT,
           <!-- T1.TRADE_TYPE, -->
           '转账' AS TRADE_TYPE,
           TO_CHAR(T1.TRADE_DATE, 'yyyy-MM-dd') || ':' || T1.SECOND_NAME AS MEMO,
           T2.CONTRACT_NUM,
           T1.REPAY_NO,
           T1.TRADE_REMARK,
           T2.FUNDS_SOURCES,
       	   T2.LOAN_BELONG,
       	   T1.LOAN_BELONG channelSources
      FROM (<include refid="findListByConditions" />) T1, 
           V_LOAN_INFO T2, 
           PERSON_INFO T3
     WHERE T1.LOAN_ID = T2.ID
       AND T2.BORROWER_ID = T3.ID
  </select>
  
   <!-- 修改状态为已导出 -->
  <update id="updateAccountInfoWMForExport" parameterType="java.util.Map">
      UPDATE BASE_PUBLIC_ACCOUNT_INFO_WM SET STATUS = #{status}, UPDATOR=#{updator}, UPDATE_TIME = #{updateTime} WHERE ID IN 
      <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
          #{id}
      </foreach>
  </update>
  
   <!-- 撤销认领或撤销渠道确认 -->
  <update id="updateAccountInfoWMForCancel" parameterType="com.zdmoney.credit.operation.domain.BasePublicAccountInfoWm" >
    UPDATE BASE_PUBLIC_ACCOUNT_INFO_WM T
       SET T.STATUS          = #{status},
           T.REC_OPERATOR_ID = null,
           T.REC_TIME        = null,
           T.LOAN_ID         = null,
           T.UPDATOR         = #{updator},
           T.UPDATE_TIME     = #{updateTime}
     WHERE T.ID = #{id}
  </update>
  
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BASE_PUBLIC_ACCOUNT_INFO_WM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  
  <!-- 分页查询（被认领客户债权信息） -->
  <select id="findWithPGByMap" parameterType="java.util.Map" resultMap="RecLoanResultMap">
      <include refid="com.ezendai.credit2.mapper.BaseMapper.pagerStart" />
      <include refid="findRecLoanListByConditions" />
      <include refid="com.ezendai.credit2.mapper.BaseMapper.OrderBy" />
      <include refid="com.ezendai.credit2.mapper.BaseMapper.pagerEnd" />
  </select>
  
  <!-- 查询总件数（被认领客户债权信息） -->
  <select id="countByMap" parameterType="java.util.Map" resultType="java.lang.Integer">
      SELECT COUNT(*) FROM (<include refid="findRecLoanListByConditions" />)
  </select>
  <!-- 查询被认领客户债权信息 -->
  <sql id="findRecLoanListByConditions">
    SELECT T1.ID AS LOAN_ID,
           T2.ID AS BORROWER_ID,
           T2.NAME AS BORROWER_NAME,
           T1.LOAN_TYPE,
           T1.SALESMAN_ID,
           (SELECT C.NAME FROM COM_EMPLOYEE C WHERE C.ID = T1.SALESMAN_ID) AS SALESMAN_NAME,
           T1.CRM_ID,
           (SELECT C.NAME FROM COM_EMPLOYEE C WHERE C.ID = T1.CRM_ID) AS CRM_NAME,
           T2.IDNUM,
           T2.PROFESSION,
           T1.PURPOSE,
           T1.PACT_MONEY,
           T1.MONEY,
           T1.TIME,
           T1.LOAN_STATE,
           T1.CONTRACT_NUM
      FROM V_LOAN_INFO T1, 
           PERSON_INFO T2, 
           COM_ORGANIZATION T3
     WHERE T1.BORROWER_ID = T2.ID
       AND T1.SALES_DEPARTMENT_ID = T3.ID
       <if test="contractPhone != null and contractPhone !=''">
           AND (T2.MPHONE = #{contractPhone} OR T2.TEL = #{contractPhone} OR T2.C_TEL = #{contractPhone})
       </if>
       <if test="name != null and name!=''">
           AND T2.NAME LIKE #{name} || '%'
       </if>
       <if test="idNum != null and idNum!=''">
           AND T2.IDNUM = #{idNum}
       </if>
       <if test="loanStates != null">
           AND T1.LOAN_STATE IN 
           <foreach collection="loanStates" item="loanStatus" index="index" open="(" close=")" separator=",">
              #{loanStatus}
           </foreach>
       </if>
       <if test="contractNum != null and contractNum !=''">
            AND T1.CONTRACT_NUM = #{contractNum}
        </if>
       AND T3.ORG_CODE LIKE #{orgCode} || '%'
       AND (T1.LOAN_BELONG IN ('外贸信托','外贸2','外贸3','华瑞渤海') OR T1.FUNDS_SOURCES IN ('陆金所'))
  </sql>

  <!-- 按查询条件查询表中多条记录-->
  <select id="findQueryResultMapList" parameterType="com.zdmoney.credit.operation.domain.BasePublicAccountInfoWm" resultType="java.util.Map">
    select t1.trade_date as "tradeDate",
    t1.trade_time as "tradeTime",
    t1.trade_amount as "tradeAmount",
    t1.second_account as "secondAccount",
    t1.second_name as "secondName",
    t1.trade_type as "tradeType",
    t1.trade_desc as "tradeDesc",
    t1.trade_remark as "tradeRemark",
    t1.status as "status",
    t3.name as "name",
    t3.idnum as "idNum",
    t2.CONTRACT_NUM as "contractNum",
    T2.FUNDS_SOURCES as "fundsSources",
    T2.LOAN_BELONG as "loanBelong",
    T1.LOAN_BELONG "channelSources",
    TO_CHAR(T2.STARTRDATE, 'yyyy-MM-dd') as "firstRepayDate",
    T4.Name as "orgName",
    TO_CHAR(T2.GRANT_MONEY_DATE, 'yyyy-MM-dd')  as "grantMoneyDate"
    FROM
    (<include refid="findListByConditions" />) T1
    left join V_LOAN_INFO T2
    on T1.LOAN_ID = T2.ID
    left join PERSON_INFO T3
    on T2.BORROWER_ID = T3.ID
    left join com_organization T4
    on T2.SALES_DEPARTMENT_ID = T4.ID
  </select>
</mapper>