<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.credit.grant.domain.DebitAccountInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zdmoney.credit.grant.domain.DebitAccountInfo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="LOAN_ID" property="loanId" jdbcType="DECIMAL" />
    <result column="PACT_NO" property="pactNo" jdbcType="VARCHAR" />
    <result column="ID_NO" property="idNo" jdbcType="VARCHAR" />
    <result column="CUST_NAME" property="custName" jdbcType="VARCHAR" />
    <result column="BR_NO" property="brNo" jdbcType="VARCHAR" />
    <result column="ACCOUNT_NO" property="accountNo" jdbcType="VARCHAR" />
    <result column="ACCOUNT_NAME" property="accountName" jdbcType="VARCHAR" />
    <result column="RESULT_CODE" property="resultCode" jdbcType="VARCHAR" />
    <result column="RESULT_MSG" property="resultMsg" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATOR" property="updator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, LOAN_ID, PACT_NO, ID_NO, CUST_NAME, BR_NO, ACCOUNT_NO, ACCOUNT_NAME, RESULT_CODE, 
    RESULT_MSG, MEMO, CREATE_TIME, CREATOR, UPDATE_TIME, UPDATOR
  </sql>
  <select id="get" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from DEBIT_ACCOUNT_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="delete" parameterType="java.math.BigDecimal" >
    delete from DEBIT_ACCOUNT_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insert" parameterType="com.zdmoney.credit.grant.domain.DebitAccountInfo" >
    insert into DEBIT_ACCOUNT_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="loanId != null" >
        LOAN_ID,
      </if>
      <if test="pactNo != null" >
        PACT_NO,
      </if>
      <if test="idNo != null" >
        ID_NO,
      </if>
      <if test="custName != null" >
        CUST_NAME,
      </if>
      <if test="brNo != null" >
        BR_NO,
      </if>
      <if test="accountNo != null" >
        ACCOUNT_NO,
      </if>
      <if test="accountName != null" >
        ACCOUNT_NAME,
      </if>
      <if test="resultCode != null" >
        RESULT_CODE,
      </if>
      <if test="resultMsg != null" >
        RESULT_MSG,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updator != null" >
        UPDATOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="loanId != null" >
        #{loanId,jdbcType=DECIMAL},
      </if>
      <if test="pactNo != null" >
        #{pactNo,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="brNo != null" >
        #{brNo,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null" >
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null" >
        #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="resultMsg != null" >
        #{resultMsg,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.zdmoney.credit.grant.domain.DebitAccountInfo" >
    update DEBIT_ACCOUNT_INFO
    <set >
      <if test="loanId != null" >
        LOAN_ID = #{loanId,jdbcType=DECIMAL},
      </if>
      <if test="pactNo != null" >
        PACT_NO = #{pactNo,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        ID_NO = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="brNo != null" >
        BR_NO = #{brNo,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null" >
        ACCOUNT_NO = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null" >
        RESULT_CODE = #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="resultMsg != null" >
        RESULT_MSG = #{resultMsg,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        UPDATOR = #{updator,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="findListByVO" resultMap="BaseResultMap" parameterType="com.zdmoney.credit.grant.domain.DebitAccountInfo">
  	select
  	<include refid="Base_Column_List" />
  	from debit_account_info
  	<where>
      <if test="loanId != null" >
        AND LOAN_ID = #{loanId,jdbcType=DECIMAL}
      </if>
      <if test="pactNo != null" >
        AND PACT_NO = #{pactNo,jdbcType=VARCHAR}
      </if>
      <if test="idNo != null" >
        AND ID_NO = #{idNo,jdbcType=VARCHAR}
      </if>
  	</where>
  </select>
</mapper>