<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://code.alibabatech.com/schema/dubbo
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
		
	<bean id="propertyConfigurer2"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="order" value="2"></property>
		<property name="ignoreUnresolvablePlaceholders" value="true" /> 
		<property name="locations">
			<list>
				<value>${dubbo.registry.address}</value>
			</list>
		</property>
	</bean>
	
	<dubbo:application name="tpp-credit-consumer" />
	
	<dubbo:registry id="tpp" protocol="zookeeper" address="${tpp.dubbo.registry.address}"/> 
	
	<!-- <dubbo:registry protocol="zookeeper" address="zookeeper://172.16.230.65:2181?backup=172.16.230.65:2181,172.16.230.65:2181"/>  -->
    <dubbo:reference id="brokerTradeConsumer" registry="tpp" interface="com.zendaimoney.thirdpp.trade.pub.service.IBrokerTradeService"  check="false"  retries="0" timeout="90000"/>
    <dubbo:reference id="baseServiceConsumer" registry="tpp" interface="com.zendaimoney.thirdpp.trade.pub.service.IBaseService"  check="false"  retries="0" timeout="90000"/>
    <dubbo:reference id="authServiceConsumer" registry="tpp" interface="com.zendaimoney.thirdpp.trade.pub.service.IAuthService"  check="false"  retries="0" timeout="90000"/>
 
 	<dubbo:registry id="rules" protocol="zookeeper" address="${rules.dubbo.registry.address}"/> 
    
    <dubbo:reference id="ruleEngineExecuter" registry="rules" interface="com.ymkj.rule.biz.api.service.IRuleEngineExecuter"  check="false"  retries="0" timeout="90000"/>
 </beans>    