<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.credit.loan.domain.LoanSettleInfoMapper">
    <resultMap id="BaseResultMap" type="com.zdmoney.credit.loan.domain.LoanSettleInfo">
        <result column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="ID_NUM" property="idNum" jdbcType="VARCHAR"/>
        <result column="CONTRACT_NUM" property="contractNum" jdbcType="VARCHAR"/>
        <result column="TRANSFER_STATE" property="transferState" jdbcType="VARCHAR"/>
        <result column="MEMO" property="memo" jdbcType="VARCHAR"/>
        <result column="LOAN_ID" property="loanId" jdbcType="DECIMAL"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATOR" property="updator" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="insert" parameterType="com.zdmoney.credit.loan.domain.LoanSettleInfo">
    insert into LOAN_SETTLE_INFO (ID, NAME, ID_NUM, 
      CONTRACT_NUM, TRANSFER_STATE, MEMO, LOAN_ID,CREATOR,CREATE_TIME,UPDATOR,UPDATE_TIME
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{idNum,jdbcType=VARCHAR}, 
      #{contractNum,jdbcType=VARCHAR}, #{transferState,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{loanId,jdbcType=DECIMAL},
      #{creator,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updator,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.zdmoney.credit.loan.domain.LoanSettleInfo">
        insert into LOAN_SETTLE_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="idNum != null">
                ID_NUM,
            </if>
            <if test="contractNum != null">
                CONTRACT_NUM,
            </if>
            <if test="transferState != null">
                TRANSFER_STATE,
            </if>
            <if test="memo != null">
                MEMO,
            </if>
            <if test="loanId != null">
                LOAN_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="idNum != null">
                #{idNum,jdbcType=VARCHAR},
            </if>
            <if test="contractNum != null">
                #{contractNum,jdbcType=VARCHAR},
            </if>
            <if test="transferState != null">
                #{transferState,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            <if test="loanId != null">
                #{loanId,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>

    <select id="findLoanSettlenfoByLoanId" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT *from loan_settle_info WHERE loan_id=#{loanId}
    </select>

    <update id="update" parameterType="com.zdmoney.credit.loan.domain.LoanSettleInfo">
        update LOAN_SETTLE_INFO
        <set>
            <if test="loanId != null">
                LOAN_ID = #{loanId,jdbcType=DECIMAL},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="idNum != null">
                ID_NUM = #{idNum,jdbcType=VARCHAR},
            </if>
            <if test="contractNum != null">
                CONTRACT_NUM = #{contractNum,jdbcType=VARCHAR},
            </if>
            <if test="transferState != null">
                TRANSFER_STATE = #{transferState,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                MEMO = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="updator != null">
                UPDATOR = #{updator,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
</mapper>