<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.credit.loan.domain.SpecialTradeRelationMapper" >
  <resultMap id="BaseResultMap" type="com.zdmoney.credit.loan.domain.SpecialTradeRelation" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="EFFECTIVE_ID" property="effectiveId" jdbcType="DECIMAL" />
    <result column="TRADE_NO" property="tradeNo" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, EFFECTIVE_ID, TRADE_NO, CREATE_TIME, UPDATE_TIME
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from SPECIAL_TRADE_RELATION
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zdmoney.credit.loan.domain.SpecialTradeRelation" >
    insert into SPECIAL_TRADE_RELATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="effectiveId != null" >
        EFFECTIVE_ID,
      </if>
      <if test="tradeNo != null" >
        TRADE_NO,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="effectiveId != null" >
        #{effectiveId,jdbcType=DECIMAL},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.zdmoney.credit.loan.domain.SpecialTradeRelation" >
    update SPECIAL_TRADE_RELATION
    <set >
      <if test="effectiveId != null" >
        EFFECTIVE_ID = #{effectiveId,jdbcType=DECIMAL},
      </if>
      <if test="tradeNo != null" >
        TRADE_NO = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>