<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.credit.fee.domain.LoanFeeInfoMapper">
	<resultMap id="BaseResultMap" type="com.zdmoney.credit.fee.domain.LoanFeeInfo">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="LOAN_ID" property="loanId" jdbcType="DECIMAL" />
		<result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
		<result column="RECEIVE_AMOUNT" property="receiveAmount"
			jdbcType="DECIMAL" />
		<result column="UNPAID_AMOUNT" property="unpaidAmount"
			jdbcType="DECIMAL" />
		<result column="STATE" property="state" jdbcType="VARCHAR" />
		<result column="MEMO" property="memo" jdbcType="VARCHAR" />
		<result column="CREATOR" property="creator" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATOR" property="updator" jdbcType="VARCHAR" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, LOAN_ID, AMOUNT, RECEIVE_AMOUNT, UNPAID_AMOUNT, STATE,
		MEMO, CREATOR,
		CREATE_TIME,
		UPDATOR, UPDATE_TIME
	</sql>
	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from LOAN_FEE_INFO
		where ID = #{id,jdbcType=DECIMAL}
	</select>
	<delete id="delete" parameterType="java.lang.Short">
		delete from LOAN_FEE_INFO
		where ID = #{id,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="com.zdmoney.credit.fee.domain.LoanFeeInfo">
		insert into LOAN_FEE_INFO
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="loanId != null">
				LOAN_ID,
			</if>
			<if test="amount != null">
				AMOUNT,
			</if>
			<if test="receiveAmount != null">
				RECEIVE_AMOUNT,
			</if>
			<if test="unpaidAmount != null">
				UNPAID_AMOUNT,
			</if>
			<if test="state != null">
				STATE,
			</if>
			<if test="memo != null">
				MEMO,
			</if>
			<if test="creator != null">
				CREATOR,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=DECIMAL},
			</if>
			<if test="loanId != null">
				#{loanId,jdbcType=DECIMAL},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=DECIMAL},
			</if>
			<if test="receiveAmount != null">
				#{receiveAmount,jdbcType=DECIMAL},
			</if>
			<if test="unpaidAmount != null">
				#{unpaidAmount,jdbcType=DECIMAL},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.zdmoney.credit.fee.domain.LoanFeeInfo">
		update LOAN_FEE_INFO
		<set>
			<if test="loanId != null">
				LOAN_ID = #{loanId,jdbcType=DECIMAL},
			</if>
			<if test="amount != null">
				AMOUNT = #{amount,jdbcType=DECIMAL},
			</if>
			<if test="receiveAmount != null">
				RECEIVE_AMOUNT = #{receiveAmount,jdbcType=DECIMAL},
			</if>
			<if test="unpaidAmount != null">
				UNPAID_AMOUNT = #{unpaidAmount,jdbcType=DECIMAL},
			</if>
			<if test="state != null">
				STATE = #{state,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				MEMO = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="updator != null">
				UPDATOR = #{updator,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id,jdbcType=DECIMAL}
	</update>

	<!-- 查询主体 -->
	<sql id="loanFeeInfoSelective">
		SELECT
		<include refid="Base_Column_List" />
		FROM LOAN_FEE_INFO
	</sql>

	<!-- 查询条件 -->
	<sql id="loanFeeInfoConditions">
		<trim prefix="where" prefixOverrides="and">
			<if test="id != null">
				AND ID= #{id,jdbcType=DECIMAL}
			</if>
			<if test="loanId != null">
				AND LOAN_ID= #{loanId,jdbcType=DECIMAL}
			</if>
		</trim>
	</sql>

	<!-- 按条件查询配置信息 -->
	<select id="findListByVO" parameterType="com.zdmoney.credit.fee.domain.LoanFeeInfo"
		resultMap="BaseResultMap">
		<include refid="loanFeeInfoSelective" />
		<include refid="loanFeeInfoConditions" />
	</select>
	
	<!-- 根据债权编号查询借款收费信息 -->
	<select id="findLoanFeeInfoByLoanId" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM LOAN_FEE_INFO t where t.LOAN_ID=#{loanId}
	</select>
	
	<select id="isExists" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT COUNT(*) FROM LOAN_FEE_INFO T WHERE T.LOAN_ID = #{loanId} AND ROWNUM = 1
	</select>
</mapper>