.pic_1 {background:url("../../resources/pic/MfyEjaq.png") -0px -0px no-repeat; width: 16px; height: 16px; }
.pic_2 {background:url("../../resources/pic/MfyEjaq.png") -16px -0px; width: 16px; height: 16px; }
.pic_3 {background:url("../../resources/pic/MfyEjaq.png") -32px -0px; width: 16px; height: 16px; }
.pic_4 {background:url("../../resources/pic/MfyEjaq.png") -48px -0px; width: 16px; height: 16px; }
.pic_5 {background:url("../../resources/pic/MfyEjaq.png") -64px -0px; width: 16px; height: 16px; }
.pic_6 {background:url("../../resources/pic/MfyEjaq.png") -80px -0px; width: 16px; height: 16px; }
.pic_7 {background:url("../../resources/pic/MfyEjaq.png") -96px -0px; width: 16px; height: 16px; }
.pic_8 {background:url("../../resources/pic/MfyEjaq.png") -112px -0px; width: 16px; height: 16px; }
.pic_9 {background:url("../../resources/pic/MfyEjaq.png") -128px -0px; width: 16px; height: 16px; }
.pic_10 {background:url("../../resources/pic/MfyEjaq.png") -144px -0px; width: 16px; height: 16px; }
.pic_11 {background:url("../../resources/pic/MfyEjaq.png") -160px -0px; width: 16px; height: 16px; }
.pic_12 {background:url("../../resources/pic/MfyEjaq.png") -176px -0px; width: 16px; height: 16px; }
.pic_13 {background:url("../../resources/pic/MfyEjaq.png") -192px -0px; width: 16px; height: 16px; }
.pic_14 {background:url("../../resources/pic/MfyEjaq.png") -208px -0px; width: 16px; height: 16px; }
.pic_15 {background:url("../../resources/pic/MfyEjaq.png") -224px -0px; width: 16px; height: 16px; }
.pic_16 {background:url("../../resources/pic/MfyEjaq.png") -240px -0px; width: 16px; height: 16px; }
.pic_17 {background:url("../../resources/pic/MfyEjaq.png") -256px -0px; width: 16px; height: 16px; }

.pic_18 {background:url("../../resources/pic/MfyEjaq.png") -336px -32px; width: 16px; height: 16px; }
.pic_19 {background:url("../../resources/pic/MfyEjaq.png") -144px -48px; width: 16px; height: 16px; }
.pic_20 {background:url("../../resources/pic/MfyEjaq.png") -80px -224px; width: 16px; height: 16px; }
.pic_21{background:url("../../resources/pic/MfyEjaq.png") -204px -288px; width: 16px; height: 16px; }
.pic_22{background:url("../../resources/pic/MfyEjaq.png") -128px -160px; width: 16px; height: 16px; }

.pic_23{background:url("../../resources/pic/MfyEjaq.png") -32px -32px; width: 16px; height: 16px; }
.pic_24{background:url("../../resources/pic/MfyEjaq.png") -176px -32px; width: 16px; height: 16px; }
.pic_25{background:url("../../resources/pic/MfyEjaq.png") -352px -112px; width: 16px; height: 16px; }
.pic_26{background:url("../../resources/pic/MfyEjaq.png") -32px -256px; width: 16px; height: 16px; }

.pic_27{background:url("../../resources/pic/MfyEjaq.png") -80px -160px; width: 16px; height: 16px; }
.pic_28{background:url("../../resources/pic/MfyEjaq.png") -96px -160px; width: 16px; height: 16px; }
.pic_29{background:url("../../resources/pic/MfyEjaq.png") -32px -224px; width: 16px; height: 16px; }
.pic_30{background:url("../../resources/pic/MfyEjaq.png") -32px -240px; width: 16px; height: 16px; }
.pic_31{background:url("../../resources/pic/MfyEjaq.png") -192px -208px; width: 16px; height: 16px; }
.pic_32{background:url("../../resources/pic/MfyEjaq.png") -96px -240px; width: 16px; height: 16px; }
.pic_33{background:url("../../resources/pic/MfyEjaq.png") -384px -192px; width: 16px; height: 16px; }
.pic_34{background:url("../../resources/pic/MfyEjaq.png") -384px -144px; width: 16px; height: 16px; }
.pic_35{background:url("../../resources/pic/MfyEjaq.png") -112px -160px; width: 16px; height: 16px; }
.pic_36{background:url("../../resources/pic/MfyEjaq.png") -224px -80px; width: 16px; height: 16px; }
.pic_37{background:url("../../resources/pic/MfyEjaq.png") -208px -80px; width: 16px; height: 16px; }
.pic_38{background:url("../../resources/pic/MfyEjaq.png") -288px -48px; width: 16px; height: 16px; }
.pic_39{background:url("../../resources/pic/MfyEjaq.png") -48px -224px; width: 16px; height: 16px; }
.pic_40{background:url("../../resources/pic/MfyEjaq.png") -0px -16px; width: 16px; height: 16px; }

.pic_41{background:url("../../resources/pic/MfyEjaq.png") -80px -80px; width: 16px; height: 16px; }
.pic_42{background:url("../../resources/pic/MfyEjaq.png") -176px -208px; width: 16px; height: 16px; }
.pic_43{background:url("../../resources/pic/MfyEjaq.png") -80px -48px; width: 16px; height: 16px; }
.pic_44{background:url("../../resources/pic/MfyEjaq.png") -96px -48px; width: 16px; height: 16px; }
.pic_45{background:url("../../resources/pic/MfyEjaq.png") -304px -176px; width: 16px; height: 16px; }
.pic_46{background:url("../../resources/pic/MfyEjaq.png") -160px -224px; width: 16px; height: 16px; }

.pic_47{background:url("../../resources/pic/MfyEjaq.png") -48px -0px; width: 16px; height: 16px; }
.pic_48{background:url("../../resources/pic/MfyEjaq.png") -192px -32px; width: 16px; height: 16px; }

.pic_49{background:url("../../resources/pic/MfyEjaq.png") -112px -112px; width: 16px; height: 16px; }
.pic_50{background:url("../../resources/pic/MfyEjaq.png") -192px -112px; width: 16px; height: 16px; }
.pic_51{background:url("../../resources/pic/MfyEjaq.png") -208px -96px; width: 16px; height: 16px; }
.pic_52{background:url("../../resources/pic/MfyEjaq.png") -192px -96px; width: 16px; height: 16px; }
.pic_53{background:url("../../resources/pic/MfyEjaq.png") -256px -128px; width: 16px; height: 16px; }
.pic_54{background:url("../../resources/pic/MfyEjaq.png") -304px -48px; width: 16px; height: 16px; }
.pic_55{background:url("../../resources/pic/MfyEjaq.png") -320px -240px; width: 16px; height: 16px; }
.pic_56{background:url("../../resources/pic/MfyEjaq.png") -80px -192px; width: 16px; height: 16px; }
.pic_57{background:url("../../resources/pic/MfyEjaq.png") -256px -112px; width: 16px; height: 16px; }
.pic_58{background:url("../../resources/pic/MfyEjaq.png") -352px -256px; width: 16px; height: 16px; }

.pic_59{background:url("../../resources/pic/MfyEjaq.png") -64px -128px; width: 16px; height: 16px; }
.pic_60{background:url("../../resources/pic/MfyEjaq.png") -240px -256px; width: 16px; height: 16px; }
.pic_61{background:url("../../resources/pic/MfyEjaq.png") -144px -192px; width: 16px; height: 16px; }
.pic_62{background:url("../../resources/pic/MfyEjaq.png") -112px -352px; width: 16px; height: 16px; }
.pic_63{background:url("../../resources/pic/MfyEjaq.png") -336px -80px; width: 16px; height: 16px; }
.pic_64{background:url("../../resources/pic/MfyEjaq.png") -16px -256px; width: 16px; height: 16px; }

.pic_65{background:url("../../resources/pic/MfyEjaq.png") -96px -128px; width: 16px; height: 16px; }
.pic_66{background:url("../../resources/pic/MfyEjaq.png") -176px -48px; width: 16px; height: 16px; }
.pic_67 {background:url("../../resources/pic/MfyEjaq.png") -272px -0px; width: 16px; height: 16px; }
.pic_68{background:url("../../resources/pic/MfyEjaq.png") -256px -16px; width: 16px; height: 16px; }
.pic_69{background:url("../../resources/pic/MfyEjaq.png") -64px -112px; width: 16px; height: 16px; }

.icon-rsys{background:url("../../resources/pic/MfyEjaq.png") -160px -192px; width: 16px; height: 16px; }
.icon-sys{background:url("../../resources/pic/MfyEjaq.png") -160px -192px; width: 16px; height: 16px; }
.icon-picCls{background:url("../../resources/pic/MfyEjaq.png") -48px -16px; width: 16px; height: 16px; }
.icon-pic{background:url("../../resources/pic/MfyEjaq.png") -80px -192px; width: 16px; height: 16px; }
.icon-rar{background:url("../../resources/pic/icon-rar.png"); width: 16px; height: 16px; }
.icon-doc{background:url("../../resources/pic/icon-doc.png"); width: 16px; height: 16px; }
.icon-xls{background:url("../../resources/pic/icon-xls.png"); width: 16px; height: 16px; }
.icon-pdf{background:url("../../resources/pic/icon-pdf.png"); width: 16px; height: 16px; }
.icon-question{background:url("../../resources/pic/icon-question.png"); width: 16px; height: 16px; }
.icon-download{background:url("../../resources/pic/icon-download.png"); width: 16px; height: 16px; }
.icon-preview{background:url("../../resources/pic/icon-preview.png"); width: 16px; height: 16px; }
.icon-window{background:url("../../resources/pic/icon-window.png"); width: 16px; height: 16px; }

.icon-money_1{background:url("../../resources/pic/money_1.png"); width: 16px; height: 16px; }
.icon-money_2{background:url("../../resources/pic/money_2.png"); width: 16px; height: 16px; }
.icon-money_3{background:url("../../resources/pic/money_3.png"); width: 16px; height: 16px; }
.icon-money_4{background:url("../../resources/pic/money_4.png"); width: 16px; height: 16px; }
.icon-money_5{background:url("../../resources/pic/money_5.png"); width: 16px; height: 16px; }
.icon-money_6{background:url("../../resources/pic/money_6.png"); width: 16px; height: 16px; }

.download_1{background:url("../../resources/pic/download_1.png"); width: 16px; height: 16px; }
.download_2{background:url("../../resources/pic/download_2.png"); width: 16px; height: 16px; }
.download_3{background:url("../../resources/pic/download_3.png"); width: 16px; height: 16px; }
.upload_1{background:url("../../resources/pic/upload_1.png"); width: 16px; height: 16px; }
.upload_2{background:url("../../resources/pic/upload_2.png"); width: 16px; height: 16px; }
.upload_3{background:url("../../resources/pic/upload_3.png"); width: 16px; height: 16px; }

.video_1{background:url("../../resources/pic/video_1.png"); width: 16px; height: 16px; }
.video_2{background:url("../../resources/pic/video_2.png"); width: 16px; height: 16px; }
.video_3{background:url("../../resources/pic/video_3.png"); width: 16px; height: 16px; }
.video_4{background:url("../../resources/pic/video_4.png"); width: 16px; height: 16px; }
.video_5{background:url("../../resources/pic/video_5.png"); width: 16px; height: 16px; }

.logo_href{
	background-image: url(images/logo.jpg);
}

.table-striped tbody tr:nth-child(odd) td {
	background-color: white
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
	background-color: #f5f5f5
}

.table .number{
	text-align:right !important;;
}
span.span_r { float:right; background-position:0 -22px;}
.tree-checkbox-disabled0{   
  background: url('../../resources/images/tree_icons.png') no-repeat -272px -18px;   
}   
.tree-checkbox-disabled1{   
  background: url('../../resources/images/tree_icons.png') no-repeat -272px 0;   
}   
.tree-checkbox-disabled2{   
  background: url('../../resources/images/tree_icons.png') no-repeat -288px 0;   
}  